div(class="uk-container uk-margin-large-bottom uk-container-large uk-visible@m")
	h1.uk-article-title.uk-text-center.uk-margin-large-bottom CMS
	p.uk-article-meta.uk-text-center.uk-margin-large-bottom Наша компания является официальным партнером 1C Битрикс. Мы осуществляем интеграцию с множеством CMS, если у Вас возникли вопросы, #[a(href="contacts.html" style="text-decoration:underline;") свяжитесь с нами].
	div(class="uk-grid-match cms-row" uk-grid)
		div(class="uk-width-1-5 uk-flex uk-flex-center")
			img(src="img/cms/bitrix.jpg" alt="1CBitrix")
		div(class="uk-width-1-5 uk-flex uk-flex-center")
			img(src="img/cms/drupal.jpg" alt="Drupal")
		div(class="uk-width-1-5 uk-flex uk-flex-center")
			img(src="img/cms/wordpress.jpg" alt="Wordpress")
		div(class="uk-width-1-5 uk-flex uk-flex-center")
			img(src="img/cms/joomla.jpg" alt="Joomla")
		div(class="uk-width-1-5 uk-flex uk-flex-center")
			img(src="img/cms/modx.jpg" alt="ModX")