//- pugomodules/head.pug
head
	meta(charset='utf-8')
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
	title= pageTitle
	meta(name='description', content='Компания GlobalWebGroup предлагает услуги по созданию корпоратиных сайтов, интернет магазинов и посадочных страниц.')
	meta(name="subject" content="Разработка сайтов")
	meta( name="keywords" content="сайт в спб, интернет магазин, лэндинг, посадочная страница, корпоративный сайт, создание сайтов, купить сайт, ")
	meta(name="author" content="Global Web Group")
	meta(name="copyright" content="Global Web Group")
	meta(name="theme-color" content="#000")
	link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
	link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-96x96.png")
	link(rel='stylesheet',href='styles/uikit.css')
	link(rel='stylesheet',href='styles/swiper.min.css')
	link(rel='stylesheet',href='styles/main.css')
	link(rel="author" href="humans.txt")
	link(rel="me" href="mailto:info@gw.spb.ru")
	link(rel="dns-prefetch" href="https://fontawesome.com")
	script(src='scripts/jquery-3.2.1.min.js')
	script(src='scripts/swiper.min.js')
	script(src='scripts/main.js')
	script(src='scripts/uikit.js')
	script(src="https://use.fontawesome.com/a2435c53a0.js")
	if googleMap
		script(src="scripts/google_map.js")
		script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUb1SEY4ozGj-wGn1Y_93nXJv0GHaBKJQ&callback=initMap" type="text/javascript")