div.uk-container.uk-margin-large-bottom.uk-container-large
	article.uk-article.uk-padding-small
		h1.uk-article-title.uk-text-center Хотите посетить наш офис?
		div(class="swiper-office-container uk-visible@m")
			div.swiper-wrapper
				div(class="swiper-slide swiper-lazy" data-background="img/office/gw.jpg")
					<div class="swiper-lazy-preloader "></div>
				div(class="swiper-slide swiper-lazy" data-background="img/office/avm.jpg")
					<div class="swiper-lazy-preloader "></div>
				div(class="swiper-slide swiper-lazy" data-background="img/office/floor.jpg")
					<div class="swiper-lazy-preloader "></div>
				div(class="swiper-slide swiper-lazy" data-background="img/office/dc-left.jpg")
					<div class="swiper-lazy-preloader "></div>
				div(class="swiper-slide swiper-lazy" data-background="img/office/dc-center.jpg")
					<div class="swiper-lazy-preloader "></div>
				div(class="swiper-slide swiper-lazy" data-background="img/office/dc-right.jpg")
					<div class="swiper-lazy-preloader "></div>
				div(class="swiper-slide swiper-lazy" data-background="img/office/inside.jpg")
					<div class="swiper-lazy-preloader "></div>
			div.swiper-office-pagination.uk-text-center
		p.uk-text-center.uk-text-large Приглашаем к нам на встречу для обсуждения ваших идей
		form(class="uk-form uk-width-1-1 uk-width-1-2@m uk-margin-auto uk-flex uk-flex-center uk-flex-around@s uk-flex-wrap")
			div.uk-inline
				div(class="uk-width-1-1  uk-margin-top")
					span.uk-form-icon.uk-margin-top
						i(class="fa fa-user-o" aria-hidden="true")
					input(class="uk-input" type="text" placeholder="Как Вас зовут?")
			div.uk-inline
				div(class="uk-width-1-1 uk-margin-top")
					span.uk-form-icon.uk-margin-top
						i(class="fa fa-envelope-o" aria-hidden="true")
					input(class="uk-input" type="text" placeholder="email для связи")
			div(class="uk-width-1-1 uk-margin-auto uk-margin-top uk-text-center")
				button(class="uk-button uk-button-default" href="#") Заказать звонок