
div.mainpagebanner.uk-background-fixed
	div.uk-overlay-primary.uk-position-cover
	div.uk-overlay.uk-position-center.uk-light
		h3.uk-text-center  Разработка сайтов, логотипов, брэндинг.
		div.button-container.uk-text-center
			a(href="#modal-brief-window" uk-toggle class="button-styled") Заполните бриф онлайн
