div(class="uk-container uk-margin-large-bottom")
	article.uk-article
		h1.uk-article-title.uk-text-center Этапы разработки
		progress(class="uk-progress dev-slider-progressbar" value="10" max="100")
div.development_stages
			div.devel_slide
				div.devel_stages_pagination
					a.dev_pagination_rounds(href="#dev_process" id="btn1") 1
					a.dev_pagination_rounds(href="#dev_process" id="btn2") 2
					a.dev_pagination_rounds(href="#dev_process" id="btn3") 3
					a.dev_pagination_rounds(href="#dev_process" id="btn4") 4
					a.dev_pagination_rounds(href="#dev_process" id="btn5") 5
					a.dev_pagination_rounds(href="#dev_process" id="btn6") 6
					a.dev_pagination_rounds(href="#dev_process" id="btn7") 7
					a.dev_pagination_rounds(href="#dev_process" id="btn8") 8
					a.dev_pagination_rounds(href="#dev_process" id="btn9") 9
					a.dev_pagination_rounds(href="#dev_process" id="btn10") 10
					a.dev_pagination_rounds(href="#dev_process" id="btn11") 11
				div.swiper-container
					div(name="#dev_process" class="swiper-wrapper")
						div.swiper-slide(id="slide_1")
							p.swiper-slide-header Разработаем техническое задание
							br
							br
							p.swiper-slide-text Техническое задание - это исходный документ, который устанавливает основное назначение,технические характеристики и объемы работ по разработке сайта.
						div.swiper-slide(id="slide_2")
								p.swiper-slide-header Выявим потребности целевой аудитории
								br
								br
								p.swiper-slide-text Представление о ключевых типах пользователей сайта. Каждый пользователь характеризуется целями, ожиданиями от сайта.
						div.swiper-slide(id="slide_3")
								p.swiper-slide-header Создадим сценарий взаимодействия с пользователями
								br
								br
								p.swiper-slide-text Подробный список того, что пользователь может делать на сайте.
						div.swiper-slide(id="slide_4")
								p.swiper-slide-header Разработаем структуру сайта
								br
								br
								p.swiper-slide-text На структуре сайта в виде дерева показаны все разделы, подразделы и страницы. Такая карта позволяет выстроитьудобную информационную архитектуру сайта.
						div.swiper-slide(id="slide_5")
								p.swiper-slide-header Сделаем интерактивный прототип
								br
								br
								p.swiper-slide-text Прототип в деталях показывает, какая информация и элементы управления должны выводиться на каждой странице сайта.
						div.swiper-slide(id="slide_6")
								p.swiper-slide-header Разработаем дизайн-макеты страниц
								br
								br
								p.swiper-slide-text Внешний вид интерфейса сайта. Дизайн должен быть современным и эстетичным, удобным для пользователей.
						div.swiper-slide(id="slide_7")
								p.swiper-slide-header Сверстаем адаптивный шаблон
								br
								br
								p.swiper-slide-text Создание структуры html и CSS кода, размещающего элементы веб-страницы (изображения, текст и т. д.) в окне браузера согласно разработанному дизайну.
						div.swiper-slide(id="slide_8")
								p.swiper-slide-header Программирование и интеграция с CMS
								br
								br
								p.swiper-slide-text Система управления сайтом (CMS) - это система управления содержимым (контентом). На этом этапе происходит подключение необходимых модулей, таких как новостная лента, корзина, личный кабинет, форма обратной связи и т.п.
						div.swiper-slide(id="slide_9")
								p.swiper-slide-header Наполним сайт контентом
								br
								br
								p.swiper-slide-text Контент означает содержимое - любое информационное наполнение ресурса (изображения, текст, видео и т. д.).
						div.swiper-slide(id="slide_10")
								p.swiper-slide-header Протестируем
								br
								br
								p.swiper-slide-text Мы проведем полный анализ контента, юзабилити и программного кода сайта, выявляя все недостатки и исправляя их.
						div.swiper-slide(id="slide_11")
								p.swiper-slide-header Разместим сайт на хостинге
								br
								br
								p.swiper-slide-text Веб-хостинг - это место для размещения сайта на сервере в сети Internet, который предоставляет доступ к web-страницам посетителям сайта.
<hr>