div.uk-container.uk-margin-large-bottom(uk-scrollspy="target: .portfolio-row; cls:uk-animation-fade; delay: 50")
	article.uk-article.uk-padding
			h1.uk-article-title.uk-text-center.uk-margin-large-bottom Недавние работы

	div.portfolio-row.portfolio-row-bg__gromov
		div(class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-grid uk-overlay uk-overlay-default uk-text-center@m" uk-grid)
			div.uk-card-media-left.uk-cover-container.uk-first-column
				a(href="http://bcgromov.ru" alt="ДеловойЦентрГромов")
					img(src="img/portfolio/gromov.jpg" alt="ДеловойЦентрГромов" class="uk-cover portfolio-image-thumb")
				canvas(style="width=200px;height=200px;")
			div
				div.uk-card-body.uk-padding-small.uk-flex.uk-flex-center.uk-flex-middle.uk-flex-column.uk-flex-wrap
					h3.uk-card-title Деловой Центр Громов
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum veritatis, repudiandae porro excepturi, quia expedita! 
	div.portfolio-row.portfolio-row-bg__stringer
		div(class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-grid  uk-overlay uk-overlay-default uk-text-center@m" uk-grid)
			div(class="uk-flex-last@s uk-card-media-right uk-cover-container")
				a(href="#" alt="ООО Судоверфь 'Стрингер'")
					img(src="img/portfolio/stringer.jpg" alt="СудоверфьСтрингер" class="uk-cover portfolio-image-thumb")
				canvas(style="width=200px;height=200px;")
			div.uk-card-body.uk-first-column.uk-overlay.uk-padding-small.uk-flex.uk-flex-center.uk-flex-middle.uk-flex-column.uk-flex-wrap
				h3.uk-card-title ООО Судоверфь Стрингер
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum veritatis, repudiandae porro excepturi, quia expedita!
	div.portfolio-row.portfolio-row-bg__mirt
		div(class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-grid uk-overlay uk-overlay-default uk-text-center@m" uk-grid)
			div.uk-card-media-left.uk-cover-container.uk-first-column
				a(href="http://mirtschool.ru/" alt="Мирт")
					img(src="img/portfolio/mirt.jpg" alt="ДеловойЦентрГромов" class="uk-cover portfolio-image-thumb")
				canvas(style="width=200px;height=200px;")
			div
				div.uk-card-body.uk-padding-small.uk-flex.uk-flex-center.uk-flex-middle.uk-flex-column.uk-flex-wrap
					h3.uk-card-title Частная общеобразовательная гуманитарно-художественная школа "МИРТ"
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum veritatis, repudiandae porro excepturi, quia expedita!