div(class="uk-container uk-margin-large-bottom")
	article.uk-article
		h1.uk-article-title.uk-text-center.uk-margin-large-bottom Адаптивная и отзывчивая верстка
		p.uk-text-muted.uk-text-lead.uk-margin-large-bottom Отзывчивый дизаин сайта позволяет содержимому страницы изменяться и отображаться корректно, в зависимости от размера экрана. Широкий экран монитора может отобразить Ваш сайт с несколькими колонками содержимого, в то время как маленький экран смартфона или планшета будет отображать содержимое в одну колонку, с корректно смасштабированными текстом и ссылками для того чтобы можно было смотреть сайт на маленьком экране. Почему отзывчивый и адаптивный дизаин это одна из главных вещей, которые стоит иметь на Вашем сайте? Вот 4 ключевых причины:
		div(class="whyadaptive uk-margin-large-bottom uk-child-width-1-1 uk-child-width-1-3@l" uk-grid)
			ul.uk-switcher.switcher-container.uk-margin.uk-hidden-touch
				li
					img(src="img/adaptive/2.png" alt="Громов_Адаптивная_Версия")
				li
					img(src="img/adaptive/4.png" alt="СибЦентр_Адаптивная_Версия")
				li
					img(src="img/adaptive/3.png" alt="Умный_Город_Адаптивная_Версия")
				li
					img(src="img/adaptive/1.png" alt="Стрингер_Адаптивная_Версия")
			ul(class="uk-subnav uk-subnav-pill" uk-switcher="connect: .switcher-container;animation: uk-animation-fade")
				li
					a.uk-text-break(href="#") 1. Поддержка пользователей.
				li
					a.uk-text-break(href="#") 2. Один ресурс, одно управление.
				li
					a.uk-text-break(href="#") 3. Ранжирование в поисковых системах.
				li
					a.uk-text-break(href="#") 4. Масштабируемость под будущее.
			ul.uk-switcher.switcher-container.uk-margin.explaining-column
				li  Мы живем в то время, когда наши сайты не просто посещают разные клиенты. Одни и те же люди, которые используют Ваш ресурс на постоянной основе, могут зайти как с настольного ПК или ноутбука, так и с телефона или планшета. По этому для того, чтобы поддерживать уровень простоты и удовства работы с сайтом клиентов, ресурс должен отображаться одинаково полноценно вне зависимости от того, с какого устройства на него заходят. Одно и то же содержание должно быть легко доступно для поиска и пользования и на телефоне и на большом мониторе.
				li Довольно непросто поддерживать Ваш сайт обновленным и с актуальным содержимым. И непомерно большие затруднения вызывает следить за состоянием нескольких сайтов и приложений для Вашего бизнеса. Именно по этому один отзывчивый сайт, который отображается одинаково хорошо на всех экранах и устройствах, оказывается предпочтительнее для владельцев ресурсов.
				li Google уже очень давно внес рекомендацию к использованию адаптивных и отзывчивых решений для владельцев сайтов, но сам поисковый движок шагнул далеко вперед и в последний год, добавлял ярлык #[a(href="https://search.google.com/test/mobile-friendly?hl=ru") “Mobile Friendly”] к сайтам, которые одинаково хорошо отображаются на всех устройствах. Таким образом, оптимизируя Ваш сайт для отображения не только на больших экранах, Вы будете подготовлены к изменениям в поисковых выдачах, которые произойдут очень скоро.
				li Одна из лучших вещей в отзывчивых сайтах - готовность к новым технологиям. Отзывчивые сайты могут масштабироваться в любую сторону, на маленькие и большие разрешения, на узкие экраны и широкие панели. Это означает - как бы не было ново устройство на рынке, Ваш сайт всегда будет отображаться хорошо и Вам не придется переделывать его каждые пол года.
		p.uk-text-muted.uk-text-lead.uk-margin-large-bottom В нашей компании, при разработке сайтов, адаптивная вёрстка входит в опции по-умолчанию.
		p.uk-text-lead.uk-text-bold.uk-margin-large-bottom Свяжитесь с нами прямо сейчас и получите консультацию. Вы можете заказать концепцию для Вашего сайта бесплатно.
		div.button-container.uk-text-center
				a.button-styled.button-styled__black(href="#modal-callback-window" uk-toggle) Заказать звонок