div.uk-container.uk-margin-large-bottom.uk-container-large
	article.uk-article.uk-padding-small
		h1.uk-article-title.uk-text-center Условия
		div.howwework-cards.uk-flex.uk-flex-center.uk-flex-middle.uk-flex-row.uk-flex-wrap
			div(class="uk-card uk-card-default uk-width-1-4@m")
				div.uk-card-header
					div(class="uk-grid-small uk-flex-middle" uk-grid)
						div.uk-width-auto
							img(class="uk-border-circle" width="100" height="100" src="img/howwework/clocks.svg")
						div.uk-width-expand
							h3.uk-card-title.uk-margin-remove-bottom Четкий дедлайн
				div.uk-card-body
					p Строго следим за сроками выполнения работ, которые указаны в договоре.
			div(class="uk-card uk-card-default uk-width-1-4@m")
				div.uk-card-header
					div(class="uk-grid-small uk-flex-middle" uk-grid)
						div.uk-width-auto
							img(class="uk-border-circle" width="100" height="100" src="img/howwework/dollar.svg")
						div.uk-width-expand
							h3.uk-card-title.uk-margin-remove-bottom Оплата
				div.uk-card-body
					p Рабочий процесс делится на этапы, каждый из которых оплачивается после согласования.
			div(class="uk-card uk-card-default uk-width-1-4@m")
				div.uk-card-header
					div(class="uk-grid-small uk-flex-middle" uk-grid)
						div.uk-width-auto
							img(class="uk-border-circle" width="100" height="100" src="img/howwework/glass.svg")
						div.uk-width-expand
							h3.uk-card-title.uk-margin-remove-bottom Наблюдение
				div.uk-card-body
					p Работаем по scrum-agile методологии, клиент следит за работой онлайн.
			div(class="uk-card uk-card-default uk-width-1-4@m")
				div.uk-card-header
					div(class="uk-grid-small uk-flex-middle" uk-grid)
						div.uk-width-auto
							img(class="uk-border-circle" width="100" height="100" src="img/howwework/checked.svg")
						div.uk-width-expand
							h3.uk-card-title.uk-margin-remove-bottom Согласование
				div.uk-card-body
					p Клиент вовлечен в процесс разработки, каждый этап согласовывается.
			div(class="uk-card uk-card-default uk-width-1-4@m")
				div.uk-card-header
					div(class="uk-grid-small uk-flex-middle" uk-grid)
						div.uk-width-auto
							img(class="uk-border-circle" width="100" height="100" src="img/howwework/desk.svg")
						div.uk-width-expand
							h3.uk-card-title.uk-margin-remove-bottom Сопровождение
				div.uk-card-body
					p После сдачи проекта мы оказываем комплексную поддержку сайта и консультируем клиента по всем вопросам.