div(class="uk-flex uk-flex-left")
	ul(class="uk-tab-left uk-width-auto" uk-switcher uk-tab)
		li
			a(href="#") Размещение
		li
			a(href="#") Личный менеджер
		li
			a(href="#") SSL сертификат
		li
			a(href="#") Адаптивная верстка
		li
			a(href="#") Телефонный номер
	ul(class="uk-switcher uk-margin uk-card-default uk-width-expand")
		li Premium-хостинг в собственном дата-центре на 6 месяцев бесплатно.
		li Возможность 24/7 общаться с личным менеджером.
		li Бесплатный SSL сертификат для повышенного уровня безопасности сайта.
		li Ваш сайт будет адаптирован под все мобильные и немобильные устройства.
		li Предоставляем запоминающийся номер.